language = "English"
max_threads = 5
[tools]
translator = "GPT-4o"
ocr        = "Tesseract"
detector   = "RT-DETR-V2"
inpainter  = "LaMa"
use_gpu    = false

[tools.hd_strategy]
strategy        = "Resize"
resize_limit    = 1280

[llm]
extra_context        = ""
image_input_enabled  = true

[export]
export_raw_text          = false
export_translated_text    = true
export_inpainted_image    = true

[export.save_as]
".pdf" = "pdf"
".cbz" = "cbz"

[credentials.gemini]
api_key = ""

[credentials.deekseek]
api_key = ""
